<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contact US </title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin:40px;
                background-color: #f9f9f9;
            }

            footer {
                background-color: #2c3e50;
                color: white;
                text-aligh: center;
                padding: 1rem;
            }
        </style>
        <script>
            function validateForm() {
                let name  = document.forms["contactForm"]["name"].value;
                let email = document.forms["contactForm"]["email"].value;

                if (name === ""){
                    alert ("Name must be filled out");
                    return false;
                }

                if (email === ""){
                    alert("Email must be filled out");
                    return false;
                }
                return true;
            }
        </script>
    </head>
    <body>
        <h1> Contact Us </h1>
        <form name="contactForm" method="post" onsubmit="return validateForm()">
            {% csrf_token %}
            Name : <input type="text" id="name" name="name"> <br><br>
            Email: <input type="email" id="email" name="email"> <br><br>
            Message: <input type="message" id="message" name="message"> <br><br>
            
            <button type="submit">Submit</button>
        </form>
        <footer>
            <p>&copy; 2025 Restaurant Manager App. </p><br>
            <p> Mon-Fri : 8am-10pm </p>
        </footer>
    </body>
</html>